@using FDMC.Data;
@using FDMC.Models
@model FDMC.Models.Cat
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-left font-weight-bold">@Model.Name</h1>

<br />

<img src=@Model.ImageUrl; style="max-width: 300px" alt=@Model.Name;/>

<br />
<br />

<p class="text-left font-weight-bold">Age: @Model.Age</p>

<p class="text-left font-weight-bold">Breed: @Model.Breed</p>

